<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
</head>
<body>
    <div id="root2" class="flex w-screen h-screen items-center justify-center">
        <div class="au w-[30%] h-[70%] flex flex-col">
            <div class="w-full h-full bg-(--bg-c) rounded-2xl p-10 flex flex-col space-y-10">
                <div class="titl font-[DM_Sans] flex flex-col space-y-2 text-(--body)">
                    <div class="text-4xl font-bold ">Login</div>
                    <div class="text-[80%] font-light space-x-2"><span>Did not sign up yet?</span><span class="text-(--bg-h)">Sign up</span></div>
                </div>
                <div id="auth" class="text-black grid"></div>
            </div>
        </div>
    </div>
    <script src="javascripts/bundles/auth/auth.bundle.js"></script>

</body>
</html>