<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
</head>

<body>
    <div class="authentication flex font-[poppins]">
        <div
            class="left hidden w-[44vw] md:flex md:justify-center md:items-center text-white h-[100vh] bg-[#0C0B0B]">
            <div class="L-displayBox w-fit h-fit flex flex-col gap-20 mb-12">
                <div class="text pl-3 flex flex-col gap-5">
                    <div class="upperBox flex flex-col gap-1">
                        <span class="text-[41.49px] font-semibold">Sign-up &</span>
                        <span class="text-[29.05px] font-medium">Register your account</span>
                    </div>
                    <div class="lowerBox flex flex-col text-[13.28px]">
                        <span>If you already have an account</span>
                        <div>
                            <span>you can</span>
                            <span class="text-[#4D47C3] pl-2 hover:underline cursor-pointer"><a  class="no-underline cursor-pointer text-(--bg-h)" href="/login">login here</a ></span>
                        </div>
                    </div>
                </div>
                <img width="359" src="images/login-illustrator.svg" alt="">
            </div>
        </div>
        <div class="right w-[100vw] overflow-x-hidden md:w-[56vw] flex flex-col justify-center items-center">
            <div class="mobile-top md:hidden w-[100vw] h-[230px] mb-10 bg-black text-white">
                <div class="relative left-[32px] top-[44px]">
                    <div class="text pl-3 flex flex-col gap-5">
                        <div class="upperBox flex flex-col gap-1">
                            <span class="text-[26px] font-semibold">Sign-up &</span>
                            <span class="text-[21px] font-medium">Register your account</span>
                        </div>
                        <div class="lowerBox flex flex-col text-[13.28px]">
                            <span>If you already have an account</span>
                            <div>
                                <span>you can</span>
                                <span class="text-[#4D47C3] pl-2 hover:underline cursor-pointer"><a  class="no-underline cursor-pointer text-(--bg-h)" href="/login">login here</a ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="R-displayBox md:h-fit flex flex-col gap-8">
                <div id="form"></div>
            </div>
        </div>
    </div>
    <script src="javascripts/bundles/auth/auth.bundle.js"></script>
</body>

</html>