<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
</head>

<body>
    <div class="authentication flex font-[poppins]">
        <div
            class="left hidden w-[44vw] md:flex md:justify-center md:items-center text-white h-[100vh] bg-[#0C0B0B]">
            <div class="L-displayBox w-fit h-fit flex flex-col gap-20 mb-12">
                <div class="text pl-3 flex flex-col gap-5">
                    <div class="upperBox flex flex-col gap-1">
                        <span class="text-[41.49px] font-semibold">Sign-up &</span>
                        <span class="text-[29.05px] font-medium">Register your account</span>
                    </div>
                    <div class="lowerBox flex flex-col text-[13.28px]">
                        <span>If you already have an account</span>
                        <div>
                            <span>you can</span>
                            <span class="text-[#4D47C3] pl-2 hover:underline cursor-pointer">login here</span>
                        </div>
                    </div>
                </div>
                <img width="359" src="images/login-illustrator.svg" alt="">
            </div>
        </div>
        <div class="right w-[100vw] overflow-x-hidden md:w-[56vw] flex flex-col justify-center items-center">
            <div class="mobile-top md:hidden w-[100vw] h-[230px] mb-10 bg-black text-white">
                <div class="relative left-[32px] top-[44px]">
                    <div class="text pl-3 flex flex-col gap-5">
                        <div class="upperBox flex flex-col gap-1">
                            <span class="text-[26px] font-semibold">Sign-up &</span>
                            <span class="text-[21px] font-medium">Register your account</span>
                        </div>
                        <div class="lowerBox flex flex-col text-[13.28px]">
                            <span>If you already have an account</span>
                            <div>
                                <span>you can</span>
                                <span class="text-[#4D47C3] pl-2 hover:underline cursor-pointer">login here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="R-displayBox md:h-fit flex flex-col gap-8">
                <div class="R-upper flex flex-col gap-6">
                    <span class="hidden md:block text-[27.76px] font-medium">Sign Up</span>
                    <div class="input-boxes flex flex-col gap-4">
                        <input class="w-[341px] h-[57px] pl-6 rounded-md bg-[#F0EFFF] placeholder:text-[#A7A3FF]"
                            type="text" placeholder="Enter Email">
                        <input class="w-[341px] h-[57px] rounded-md bg-[#F0EFFF] placeholder:text-[#A7A3FF] pl-6"
                            type="text" placeholder="Create User name">
                        <input class="w-[341px] h-[57px] rounded-md bg-[#F0EFFF] placeholder:text-[#A7A3FF] pl-6"
                            type="text" placeholder="Contact number">
                        <input class="w-[341px] h-[57px] rounded-md bg-[#F0EFFF] placeholder:text-[#A7A3FF] pl-6"
                            type="text" placeholder="Password">
                        <input class="w-[341px] h-[57px] rounded-md bg-[#F0EFFF] placeholder:text-[#A7A3FF] pl-6"
                            type="text" placeholder="Confirm Password">
                    </div>
                    <button class="w-[341px] h-[54px] rounded-md bg-[#4D47C3] text-white">Register</button>
                </div>
                <span class="text-[#B5B5B5] self-center">Or</span>
                <button
                    class="google-btn self-center flex justify-center items-center gap-3 font-medium text-[18px] w-[341px] h-[53px] rounded-md text-[rgba(0,0,0,0.54)]">
                    <svg class="mt-[1px]" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"
                        fill="none">
                        <rect width="23.8187" height="23.8187" transform="translate(0.651123 0.498474)" fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M23.5171 12.6673C23.5171 11.858 23.4445 11.0798 23.3096 10.3328H12.5605V14.7476H18.7028C18.4383 16.1742 17.6341 17.383 16.4254 18.1923V21.0559H20.1139C22.272 19.069 23.5171 16.1431 23.5171 12.6673Z"
                            fill="#4285F4" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.5604 23.8208C15.642 23.8208 18.2255 22.7988 20.1138 21.0557L16.4253 18.1921C15.4033 18.8769 14.096 19.2815 12.5604 19.2815C9.5878 19.2815 7.07172 17.2738 6.17423 14.5762H2.36121V17.5332C4.23919 21.2632 8.0989 23.8208 12.5604 23.8208Z"
                            fill="#34A853" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.17431 14.5764C5.94605 13.8917 5.81635 13.1602 5.81635 12.4079C5.81635 11.6557 5.94605 10.9242 6.17431 10.2395V7.28241H2.36128C1.5883 8.82318 1.14734 10.5663 1.14734 12.4079C1.14734 14.2496 1.5883 15.9927 2.36128 17.5335L6.17431 14.5764Z"
                            fill="#FBBC05" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.5604 5.53407C14.2361 5.53407 15.7405 6.10991 16.9233 7.24085L20.1968 3.96736C18.2203 2.12569 15.6368 0.994751 12.5604 0.994751C8.0989 0.994751 4.23919 3.55233 2.36121 7.28236L6.17423 10.2394C7.07172 7.54174 9.5878 5.53407 12.5604 5.53407Z"
                            fill="#EA4335" />
                    </svg>
                    <span>Continue with Google</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>