<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="javascripts/global.js"></script>
    <script src="javascripts/auth.js"></script>
    <script src="javascripts/ticket.js"></script>
    <link rel="stylesheet" href="stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
</head>
<body>
    <div id="root" class="!overflow-x-auto box-border flex items-center lg:justify-center bg-[#6C63FF] whitespace-nowrap !font-[Anuphan]">
        <div class="w-[800px] h-[300px] bg-(--bg-c) grid grid-cols-[10%_90%]">
            <div class="w-full h-full flex justify-center items-center  bg-(--body)"><div class="font-[Anuphan] font-light text-white text-[20px] -rotate-90 uppercase flex space-x-4">
                <span>On</span>
                <span>Time</span>
                <span>Check-In</span>
            </div></div>
            <div class="flex">
                <div class="w-fit  h-fit flex p-10 flex-col">
                    <div class="tt text-[30px] font-black " id="title"></div>
                    <div class="grid grid-cols-[auto_auto_auto] space-x-8">
                        <div class="flex flex-col">
                            <div class="text-[90%] font-medium">Enrollment-Id</div>
                            <div class="w-fit p-3 bg-[#d9e3e7] text-[110%] font-regular" id="name"></div>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-[90%] font-medium">Date</div>
                            <div class="w-fit p-3 bg-[#d9e3e7] text-[110%] font-regular" id="date">09-08-2024</div>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-[90%] font-medium">Time</div>
                            <div class="w-fit p-3 bg-[#d9e3e7] text-[110%] font-regular" id="time">1:30 P.M</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-4">
                            <div class="text-[90%] font-medium">Event Address</div>
                            <div class="w-fit p-3 bg-[#d9e3e7] text-[110%] font-regular" id="adr">5 Morris Rd. Long Beach, NY 11561
                            </div>
                    </div>
                </div>
                <div class="w-full p-4 flex items-center justify-center h-full border-l-5 border-dashed border-[#d0d6e1]">
                    <img  id="img" width="500px" src=""  alt="">
                </div>
            </div>
        </div>
    </div>

</body>