<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/auth.js"></script>
    <style>
        
    </style>
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/tw.css">
</head>
<body>
    
    <div class="w-screen h-screen flex justify-center">
        <div class="md:w-[70%] sm:w-[80%] w-[95%] h-full flex flex-col space-y-15 ">
            <div class="text-4xl font-black mt-10">Ticket</div>
            <div id="ticket" class="w-full h-fit pb-5"></div>
        </div>
    </div>
    <script src="javascripts/bundles/ticket/ticket.bundle.js"></script>

</body>
</html>