<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/auth.js"></script>
    <style>
        .bgl{
            background-image: linear-gradient(to right top, #0d1121, #0e1830, #0e1d40, #0c2350, #0a2961, #1c3572, #2b4184, #394d96, #5464ad, #6e7cc4, #8995db, #a3aff3);  
        }
    </style>
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/home/style.css">
</head>
<body>
    <div id="root" class="w-screen h-screen">
        <div class="w-full flex flex-col">
            <div class="w-full h-fit flex items-center flex-col justify-center space-y-4" id="tb">
                <div class="dd flex flex-col-reverse sm:flex-row w-full h-fit bg-(--body) text-white">
                    <div class="usert m-8 ml-20 w-fit h-full flex text-[120%] capitalize space-x-7 font-[700]">
                        <div class=""><a href="/get-tickets">tickets</a></div>
                        <div class=""><a href="/home">About us</a></div>
                    </div>
                    <div class="ml-auto sm:mr-20 mr-auto flex sm:w-fit w-full p-8  space-x-4">
                        <div class="flex flex-col sm:grid  w-full">
                            <div  class="sm:flex sm:flex-col grid grid-cols-[50%_50%] text-xl w-full">
                                <div id="branch" class="uppercase"></div>
                                <div id="stuname" class="text-[90%] ml-auto sm:ml-0 font-light capitalize"></div>
                            </div>
                            <div  class="flex flex-col opacity-60 font-light space-x-2">
                                <div id="enroll" class="text-[80%]"></div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

        </div>
        <div class="w-full h-full grid overflow-y-auto" id="mc">
        </div>
        <div id="footer" class="flex w-full h-[130%] flex-col bg-white">
            <div class="flex w-full h-[80%] mt-auto flex-col space-y-50">
                <div class="flex w-full flex-col h-fit">
                    <div class="flex w-full justify-center  text-center capitalize lg:text-[400%] sm:text-[300%] text-[300%] font-extrabold font-[Metropolis]">any query?</div>
                    <div class="flex w-[full] justify-center">
                        <div class="flex flex-col lg:w-[50%] w-[80%] h-fit justify-end">
                            <div class="w-full grid grid-cols-[80%_10%] h-fit justify-center">
                                <div class="flex items-center lg:text-[150%] text-[13   0%] capitalize font-normal font-[DM_Sans]"><input type="text" id="kk" placeholder="Enter email"></div>
                                <div class="flex justify-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="70%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                                </div>
                            </div>
                            <div class="w-[92%] h-[1px] bg-(--body) ml-auto mr-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="flex w-full flex-col h-full  bg-(--bg-c) justify-end">
                    <div class="flex sm:flex-row flex-col-reverse relative w-full h-fit p-1 justify-center">
                        <div class="sm:w-[95%] w-full  sm:text-[12px] sm:justify-end text-[8px] flex flex-col-reverse  lg:grid-cols-[70%_30%] lg:text-[100%] lg:flex-row">
                            <div class="grid sm:m-5 mt-5 ">
                                <div class="flex flex-col justify-end space-y-3">
                                    <div class="font-light opacity-50">© TeamErrorFixes 2025
                                    </div>
                                    <div class="whitespace-nowrap flex space-x-5 font-light">
                                        <div class="h-fit"><a href="/tos">>Cookies policy</a></div>
                                        <div class="h-fit"><a href="/tos">Legal terms</a></div>
                                        <div class="h-fit"><a href="/tos">Privacy Policy</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm:justify-end w-full  grid font-[Mont] space-y-5 h-fit">
                                <div class="capitalize lg:text-3xl sm:text-[20px] text-[25px]  font-medium">Follow us</div>
                                <div class="flex flex-wrap space-x-10  lg:text-xl sm:text-[15px] text-[15px] opacity-80 h-fit  ">
                                    <div class="soc sm:m-2  mr-auto  h-fit">Instagram</div>
                                    <div class="soc sm:m-2  mr-auto  h-fit">Discord</div>
                                    <div class="soc sm:m-2  mr-auto  h-fit">Linkedin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bgl flex flex-col absolute bg-[#6C63FF] sm:w-[70%] w-[90%] h-fit rounded-2xl right-[0] left-[0] mr-auto ml-auto sm:translate-y-[-110%] translate-y-[-210%] space-y-20">
                        <div class="flex flex-col w-full text-white p-10 font-[Mont] space-y-2">
                            <div class="k capitalize  font-light  sm:text-[170%] text-[90%]">did not register yet?</div>
                            <div class="uppercase font-medium sm:text-[100%] text-[60%]">register yourselves now!</div>
                            <div class="sm:translate-y-[0] translate-y-[10%] w-full flex justify-end">
                                <a class="bg-(--body)   sm:m-[0] mt-5 p-[10px] pr-6 pl-6 rounded-xl lg:text-[150%] text-[60%] no-underline cursor-pointer !text-[white]" href="/signup">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/bundles/home/home.bundle.js"></script>

</body>
</html>