.sidebar{
    display: flex;
}
::-webkit-scrollbar{
    width: 0;
}
#sidebar-container-1{
    margin-top: 15%;
    display: grid;
    width: 100%;
    height: 75%;
}

.genre-c, .-c{
    font-family: "DM Sans", serif;
    width: 90%;
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.gc{
    font-family: "Metropolis";
    font-size: 200%;
    text-transform: uppercase;
}

#genre{
    background-color: #171717;
    padding: 5%;
    border-radius: 10px;
}

.gt{
    border: none !important;
    font-size: 120%;
    font-family: "Anuphan";
}

.react-dropdown-select-item {
    background-color: #171717 !important;
    padding: 5% !important;
    border-radius: 10px !important;
    border: unset !important;
}
.react-dropdown-select-dropdown{
    background: unset !important;
    border: unset !important;
}

.season{
    display: flex;
}
.tags{
    font-size: 150%;
}

.tt{
    display: flex;
    height: 50px;
    background-color: #171717;
    overflow-y: scroll;
}